@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif;
}

.glow-border {
  box-shadow: 0 0 25px rgba(195, 255, 60, 0.4);
}
